.jobs-category {
  &__header {
    position: relative;
    margin-top: 100px;

    .rectangle {
      img {
        width: 100vw;
        height: 65vh;
      }
    }
    .companies {
      position: absolute;
      top: 43%;
      left: 15%;
      @media (max-width: 1300px) {
        top: 47%;
      }
      img {
        width: 70vw;
      }
    }
  }

  &__title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
  }

  &__cards {
    padding: 60px 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .card {
      width: 300px;
      height: 200px;
      box-shadow: 0px 15px 20px #7474741a;
      border-radius: 20px;
      display: grid;
      padding: 20px 30px;
      transition: 0.5s ease-in-out;

      &:hover {
        box-shadow: 0px 30px 40px #74747440;
      }

      &__description {
        font-size: 18px;
        line-height: 35px;
        width: 15vw;
      }

      &__secondary-description {
        color: #747474;
        font-size: 13px;
        line-height: 25px;
      }
    }
  }

  &__button {
    width: 15vw;
    margin: 0 auto;
    padding-bottom: 80px;
    button {
      color: white;
      background-color: #1c2333;
      border: none;
      border-radius: 52px;
      padding: 20px 30px;
      width: 200px;
      outline: none;
      cursor: pointer;
    }
  }
}
